# Python
__pycache__/
*.py[cod]
*.egg-info/

*.pyc 
*/*.pyc 
*/*/*.pyc


# Django
*.sqlite3
.env



# Virtualenv
staticfiles/
venv/
.env/

#big models 
# recommender/AImodels/best.pt
# recommender/AImodels/eye_color_model.pth
# recommender/AImodels/acne.pth
# recommender/AImodels/skin_condition_seg.pt
# recommender/AImodels/skin_model.pth

#db
db.sqlite3